# Logs
logs
*.log
pnpm-debug.log*

# dependencies
/node_modules

# local env files
.env
# api/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# build
build/*
build-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# turbo
.turbo/*
