:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #e5e5e5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333399, #6c0056); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #333399,
    #6c0056
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-start {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 800px;
}

.flex-start h3 {
  color: yellow;
  font-size: 1.25rem;
  font-weight: 500;
  font-style: italic;
  margin-top: -15px;
}
